RewriteEngine On
RewriteRule  western /index.php?option=com_virtuemart&page=shop.browse&category_id=2 [R=301,L] #FLEXURL
RewriteRule  english /index.php?option=com_virtuemart&page=shop.browse&category_id=3 [R=301,L] #FLEXURL
RewriteRule  western-english-footwear-apparel /index.php?option=com_virtuemart&page=shop.browse&category_id=4 [R=301,L] #FLEXURL
RewriteRule  stable-supplies /index.php?option=com_virtuemart&page=shop.browse&category_id=5 [R=301,L] #FLEXURL
RewriteRule  jewelry-and-collectibles /index.php?option=com_virtuemart&page=shop.browse&category_id=180 [R=301,L] #FLEXURL
RewriteRule  barrel-racer /index.php?option=com_virtuemart&page=shop.browse&category_id=182 [R=301,L] #FLEXURL
RewriteRule  saddles-western /index.php?option=com_virtuemart&page=shop.browse&category_id=7&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  bits-western /index.php?option=com_virtuemart&page=shop.browse&category_id=20&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddle-pads-western /index.php?option=com_virtuemart&page=shop.browse&category_id=26&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  spurs-straps /index.php?option=com_virtuemart&page=shop.browse&category_id=35&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  reins-western /index.php?option=com_virtuemart&page=shop.browse&category_id=30&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  headstall-western /index.php?option=com_virtuemart&page=shop.browse&category_id=19&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  leg-protection /index.php?option=com_virtuemart&page=shop.browse&category_id=172&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  back-cinch-western /index.php?option=com_virtuemart&page=shop.browse&category_id=50&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  breast-collars-western /index.php?option=com_virtuemart&page=shop.browse&category_id=18&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  tie-downs-western /index.php?option=com_virtuemart&page=shop.browse&category_id=33&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddles-english /index.php?option=com_virtuemart&page=shop.browse&category_id=8&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  footwear-english /index.php?option=com_virtuemart&page=shop.browse&category_id=15&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  helmets /index.php?option=com_virtuemart&page=shop.browse&category_id=16&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  bits-english /index.php?option=com_virtuemart&page=shop.browse&category_id=51&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddle-pads-english /index.php?option=com_virtuemart&page=shop.browse&category_id=55&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  spurs-straps-enlgish /index.php?option=com_virtuemart&page=shop.browse&category_id=61&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  protective-boots-english /index.php?option=com_virtuemart&page=shop.browse&category_id=41&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  bridles-english /index.php?option=com_virtuemart&page=shop.browse&category_id=54&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  girths-english /index.php?option=com_virtuemart&page=shop.browse&category_id=57&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  reins-english /index.php?option=com_virtuemart&page=shop.browse&category_id=59&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  martingales-english /index.php?option=com_virtuemart&page=shop.browse&category_id=56&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  irons-leathers-english /index.php?option=com_virtuemart&page=shop.browse&category_id=58&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  apparel-english /index.php?option=com_virtuemart&page=shop.browse&category_id=201&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  cowboy-hat-western /index.php?option=com_virtuemart&page=shop.browse&category_id=10&Itemid=2&vmcchk=1&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  kids-apparel-english /index.php?option=com_virtuemart&page=shop.browse&category_id=65&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  boots-womens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=40&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  boots-mens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=42&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  boots-kids-western /index.php?option=com_virtuemart&page=shop.browse&category_id=43&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  apparel-english-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=64&Itemid=2&vmcchk=1&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  blouses-womens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=175&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  jeans-womens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=176&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  jeans-mens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=177&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  shirts-mens-western /index.php?option=com_virtuemart&page=shop.browse&category_id=178&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  apparel-kids-western /index.php?option=com_virtuemart&page=shop.browse&category_id=179&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  footwear-womens-english /index.php?option=com_virtuemart&page=shop.browse&category_id=187&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddle-barrel-reacer /index.php?option=com_virtuemart&page=shop.browse&category_id=183&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddle-pads-barrel /index.php?option=com_virtuemart&page=shop.browse&category_id=184&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  headstalls-tack-barrel /index.php?option=com_virtuemart&page=shop.browse&category_id=185&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  bits-barrel-racer /index.php?option=com_virtuemart&page=shop.browse&category_id=186&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  saddles-english-western /index.php?option=com_virtuemart&page=shop.browse&category_id=68 [R=301,L] #FLEXURL
RewriteRule  english-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=69 [R=301,L] #FLEXURL
RewriteRule  western-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=75 [R=301,L] #FLEXURL
RewriteRule  discount-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=205 [R=301,L] #FLEXURL
RewriteRule  barrel-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=76 [R=301,L] #FLEXURL
RewriteRule  trail-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=77 [R=301,L] #FLEXURL
RewriteRule  synthetic-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=79 [R=301,L] #FLEXURL
RewriteRule  gaited-saddles /index.php?option=com_virtuemart&page=shop.browse&category_id=80 [R=301,L] #FLEXURL
RewriteRule  english-bridles-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=83 [R=301,L] #FLEXURL
RewriteRule  english-martingales-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=84 [R=301,L] #FLEXURL
RewriteRule  english-girths-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=85 [R=301,L] #FLEXURL
RewriteRule  english-stirrups-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=86 [R=301,L] #FLEXURL
RewriteRule  english-leathers-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=87 [R=301,L] #FLEXURL
RewriteRule  english-reins-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=88 [R=301,L] #FLEXURL
RewriteRule  western-headstalls-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=90 [R=301,L] #FLEXURL
RewriteRule  western-breast-collars-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=91 [R=301,L] #FLEXURL
RewriteRule  western-back-cinches-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=92 [R=301,L] #FLEXURL
RewriteRule  western-reins-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=93 [R=301,L] #FLEXURL
RewriteRule  western-girths-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=94 [R=301,L] #FLEXURL
RewriteRule  tie-downs-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=95 [R=301,L] #FLEXURL
RewriteRule  stirrups-western-slanted-wall /index.php?option=com_virtuemart&page=shop.browse&category_id=96 [R=301,L] #FLEXURL
RewriteRule  english-bits-snaffle-kimberwick-jumping /index.php?option=com_virtuemart&page=shop.browse&category_id=98 [R=301,L] #FLEXURL
RewriteRule  western-bits-curb-hackamore-combination /index.php?option=com_virtuemart&page=shop.browse&category_id=103 [R=301,L] #FLEXURL
RewriteRule  english-spurs-straps /index.php?option=com_virtuemart&page=shop.browse&category_id=113 [R=301,L] #FLEXURL
RewriteRule  western-spurs-straps /index.php?option=com_virtuemart&page=shop.browse&category_id=114 [R=301,L] #FLEXURL
RewriteRule  english-pads-corrective-half-pad /index.php?option=com_virtuemart&page=shop.browse&category_id=116 [R=301,L] #FLEXURL
RewriteRule  western-pads-corrective-wool-barrel /index.php?option=com_virtuemart&page=shop.browse&category_id=122 [R=301,L] #FLEXURL
RewriteRule  training-tack /index.php?option=com_virtuemart&page=shop.browse&category_id=127 [R=301,L] #FLEXURL
RewriteRule  leg-protection-splint-boots-polo-wraps /index.php?option=com_virtuemart&page=shop.browse&category_id=132 [R=301,L] #FLEXURL
RewriteRule  english-apparel-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=139 [R=301,L] #FLEXURL
RewriteRule  english-apparel /index.php?option=com_virtuemart&page=shop.browse&category_id=138 [R=301,L] #FLEXURL
RewriteRule  english-apparel-kids-breeches /index.php?option=com_virtuemart&page=shop.browse&category_id=143 [R=301,L] #FLEXURL
RewriteRule  english-boots-tall-paddock /index.php?option=com_virtuemart&page=shop.browse&category_id=165 [R=301,L] #FLEXURL
RewriteRule  english-boots-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=166 [R=301,L] #FLEXURL
RewriteRule  english-kids-boots /index.php?option=com_virtuemart&page=shop.browse&category_id=167 [R=301,L] #FLEXURL
RewriteRule  horse-clothing /index.php?option=com_virtuemart&page=shop.browse&category_id=203 [R=301,L] #FLEXURL
RewriteRule  cowboy-hats /index.php?option=com_virtuemart&page=shop.browse&category_id=206 [R=301,L] #FLEXURL
RewriteRule  cowboy-hats-wool /index.php?option=com_virtuemart&page=shop.browse&category_id=207 [R=301,L] #FLEXURL
RewriteRule  cowboy-hats-fur /index.php?option=com_virtuemart&page=shop.browse&category_id=208 [R=301,L] #FLEXURL
RewriteRule  cowboy-hats-straw /index.php?option=com_virtuemart&page=shop.browse&category_id=209 [R=301,L] #FLEXURL
RewriteRule  cowboy-hats-kids /index.php?option=com_virtuemart&page=shop.browse&category_id=210 [R=301,L] #FLEXURL
RewriteRule  western-apparel /index.php?option=com_virtuemart&page=shop.browse&category_id=147 [R=301,L] #FLEXURL
RewriteRule  western-apparel-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=148 [R=301,L] #FLEXURL
RewriteRule  western-apparel-mens /index.php?option=com_virtuemart&page=shop.browse&category_id=152 [R=301,L] #FLEXURL
RewriteRule  western-apparel-kids /index.php?option=com_virtuemart&page=shop.browse&category_id=156 [R=301,L] #FLEXURL
RewriteRule  western-jeans-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=149&vmcchk=1&Itemid=2 [R=301,L] #FLEXURL
RewriteRule  western-shirts-womens /index.php?option=com_virtuemart&page=shop.browse&category_id=150 [R=301,L] #FLEXURL
RewriteRule  western-jeans-mens /index.php?option=com_virtuemart&page=shop.browse&category_id=153 [R=301,L] #FLEXURL
RewriteRule  western-shirts-mens /index.php?option=com_virtuemart&page=shop.browse&category_id=154 [R=301,L] #FLEXURL
##
# @version $Id: htaccess.txt 10492 2008-07-02 06:38:28Z ircmaxell $
# @package Joomla
# @copyright Copyright (C) 2005 - 2008 Open Source Matters. All rights reserved.
# @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
# Joomla! is Free Software
##


#####################################################
#  READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
#
#####################################################

##  Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

#
#  mod_rewrite in use


########## Begin - Rewrite rules to block out some common exploits
## If you experience problems on your site block out the operations listed below
## This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
#
########## End - Rewrite rules to block out some common exploits

#  Uncomment following line if your webserver's URL
#  is not directly related to physical file paths.
#  Update Your Joomla! Directory (just / for root)

# RewriteBase /


########## Begin - Joomla! core SEF Section
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#
########## End - Joomla! core SEF Section

### Added 10.12.2010 to deal with WARN and NOTICE appearing on pages
### after apparent PHP upgrade
php_value error_reporting 1
